<footer class="bg-[#124076] py-5 md:py-10">
    <div class="grid md:grid-cols-2 text-white ">
        <div class="py-5 w-full px-5 md:px-20">
            <h2 class="py-2 text-xl font-semibold">Stay up to date</h2>
            <div class="w-full">
                <input type="email" name="" id="" class="w-full outline-none text-black p-3 rounded-lg shadow-lg"
                    placeholder="Email address" required>
                <div class="mt-5"><button
                        class="bg-white text-lg text-[#124076] px-4 py-2 rounded-lg shadow-lg">Submit</button></div>
            </div>
        </div>
        <div class="md:py-5 w-full px-5 md:px-20">
            <h2 class="py-2 text-xl font-semibold">Contact</h2>
            <div>
                <p>Jafarabad, Jalalpur,Ambedkar Nagar,</p>
                <p> Uttar Pradesh 224149</p>
                <p>+91 8112636693</p>
                <u>imammehdihop@gmail.com</u>
            </div>
            <div class="flex gap-4 py-4">
                <span><i class="fa-brands fa-linkedin-in"></i></span>
                <span><i class="fa-brands fa-twitter"></i></span>
                <span><i class="fa-brands fa-facebook"></i></span>
                <span><i class="fa-brands fa-youtube"></i></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="py-5">
        <div class=" flex justify-center text-white">Copyright © 2024 imhopefoundation</div>
    </div>
</footer>