<app-header></app-header>
<div>
    <div class="text-white grid justify-center py-2">
        <h1 class="bg-blue-900 px-5 py-2 rounded-lg text-lg font-semibold shadow-lg">Our Projects and Works</h1>
    </div>

    <div class="grid md:grid-cols-2 gap-5 p-5">
        <div class="">
            <img class="rounded-lg shadow-lg" src="assets/images/projects.jpeg" alt="">
        </div>
        <div class="py-0 md:py-5">
            <p>IMAM MEHDI HOPE EDUCATIONAL AND WELFARE SOCIETY is dedicated
                to providing assistance to poor children who face various challenges in their lives. Recognizing
                that poverty can severely impact a child's well-being and future prospects, the NGO aims to
                address their needs and create opportunities for a brighter future</p>
            <p class="font-bold">The assistance provided by the NGO to poor children encompasses several areas,
                including:</p>
            <p><span class="font-bold">Basic Needs:</span> The NGO ensures that poor and orphan children and old age
                people have
                access to their basic needs such as food, clothing, and shelter. They work diligently to provide
                nutritious meals, suitable clothing, and safe living conditions, creating a nurturing environment
                for the children to grow and thrive.
            </p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 p-5 gap-5">
        <div class="grid grid-cols-2 gap-3">
            <div class="">
                <img class="rounded-lg shadow-lg" src="assets/images/education.jpeg" alt="">
            </div>
            <div>
                <img class="rounded-lg" shadow-lg src="assets/images/education1.jpeg" alt="">
            </div>
        </div>
        <div class="py-0 md:py-3">
            <p><span class="font-bold">Education:</span> Recognizing the transformative power of
                education, the NGO focuses on providing educational
                opportunities to poor and orphan children. They establish
                schools, learning centers, and educational programs
                specifically designed to meet the needs of these children.
                By offering quality education, the NGO aims to break the
                cycle of poverty and empower them to create a better future
                for themselves.</p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 p-5 gap-5">
        <div>
            <img class="rounded-lg" shadow-lg src="assets/images/blancket.jpeg" alt="">
        </div>
        <div class="py-0 md:py-10">
            <p><span class="font-bold">Free Blanket Distribution</span> IMAM MEHDI HOPE EDUCATIONAL AND WELFARE SOCIETY
                launched a
                blanket distribution program in the rural areas of Ambedkar Nagar, Uttar Pradesh, the program
                aimed to provide blankets to those who cannot afford them, the blankets were distributed to
                needy families and peoples, the program was headed by the Society’s president, Mr. Faizan
                Mehdi , The NGO also conducted awareness campaigns in the villages to educate people about
                the importance of staying warm in the cold winter months. The program was a success and
                helped many families stay warm during the cold winter months.
            </p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-5 p-5">
        <div class="grid grid-cols-2 gap-3 py-4">
            <div class="">
                <img class="rounded-lg shadow-lg" src="assets/images/medical1.jpeg" alt="">
            </div>
            <div>
                <img class="rounded-lg" shadow-lg src="assets/images/medical.jpeg" alt="">
            </div>
        </div>
        <div>
            <p><span class="font-bold">Free Medical Camp: </span>Our program for free medical camp provides free medical
                check-ups and medical advice
                to underprivileged people. We provide basic medical facilities such as diagnostics, treatments
                and medicines free of cost. We also organize awareness programs to educate people about the
                importance of healthcare.
            </p>
            <p>The camp is conducted in collaboration with local healthcare professionals and
                volunteers who are committed to providing high quality medical care to people who cannot
                afford it. Our program is aimed at reducing the financial burden of the people and improving
                access to quality healthcare.</p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 p-5 gap-5">
        <div class="py-5">
            <img class="rounded-lg shadow-lg" src="assets/images/ration1.jpeg" alt="">
        </div>
        <div>
            <p><span class="font-bold">Free Ration Distribution</span>IMAM MEHDI HOPE EDUCATIONAL AND WELFARE SOCIETY
                launched a
                Ration Distribution Program to provide food and other essential items to those in need. The
                program seeks to provide basic items such as cereals, pulses, oil, salt, sugar, lentils, tea, spices,
                and other food items to people in need. The program also provides other essential items such as
                utensils, blankets, and clothing to those who are unable to purchase them.
            </p>
            <p>The program is aimed at providing food and other essential items to those most in need. It
                is also intended to provide relief to the most vulnerable sections of the society who are unable to
                purchase food items due to their financial constraints. The program is funded by the government
                and other private donors.</p>
            <p>The program is implemented through a network of volunteers and organizations working
                in various parts of the country. The volunteers and organizations are responsible for the
                distribution of the food items and other essential items to the needy people. The volunteers are
                responsible for the collection of the food items from the donors and then distribution of the same
                to the needy people.</p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-5 p-5">
        <div>
            <img class="rounded-lg shadow-lg" src="assets/images/oldage.jpeg" alt="">
        </div>
        <div class="pt-0 md:pt-14">
            <p><span class="font-bold">Old Age People Welfare Activity</span>IMAM MEHDI HOPE EDUCATIONAL AND WELFARE
                SOCIETY has recently
                launched a special program to provide welfare services to elderly people in the city. The program
                is aimed at providing health, nutrition, shelter, and other essential services to elderly people in
                need. The program also provides financial assistance to those who are unable to meet their daily
                needs. The program also includes workshops and seminars to create awareness about the
                importance of caring for elderly people. The Society also organizes various events and activities
                to engage elderly people in the community and ensure their well-being, the Society also provides
                counseling services to elderly people to help them cope with the various challenges of aging.</p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-5 p-5">
        <div class="py-0 md:py-5">
            <img class="rounded-lg shadow-lg" src="assets/images/celebration.jpeg" alt="">
        </div>
        <div>
            <p><span class="font-bold">Annual Function & Celebration: </span>IMAM MEHDI HOPE
                EDUCATIONAL AND WELFARE
                SOCIETY (IMHEWS) is a non-governmental
                organization (NGO) based in Ambedkar Nagar,
                India. It is dedicated to providing social and
                educational services to the underprivileged
                sections of the society</p>
            <p>The organization has launched a number
                of programs to celebrate the important national days such as Republic Day and Independence
                Day. The primary objective of IMHEWS is to provide education and create awareness among the
                citizens, especially those living in the rural and urban slums. The organization runs various
                activities such as health camps, vocational training, computer classes, and awareness programs. </p>
            <p>The Independence Day celebration program includes cultural activities, patriotic songs,
                and folk dance performances. IMHEWS also provides guidance to the children and their families
                on various topics related to the nation's history and culture. IMHEWS also organizes an annual
                function every year in which it felicitates the achievers from the community. It also honors the
                volunteers who have contributed to the success of the organization.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>