<app-header></app-header>
<main>
    <!-- <img class="" src="assets/images/dashoboard-img.jpeg"> -->

    <!-- top of dashboard -->

    <div class="background-image" [style.background-image]="'url(' + imageUrl + ')'">
        <div class="h-[100vh] bg-[#114232] opacity-50">
            <div class="grid md:grid-cols-2">
                <div class="text-white text-5xl font-bold grid justify-center pt-28">
                    <h1>Help is Our Main Goal</h1>
                    <p class="text-lg pt-5 text-white">IMAM MEHDI HOPE EDUCATIONAL AND WELFARE SOCIETY</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-[#efefef] py-5 md:py-10">
        <h1 class="grid text-center py-5 md:py-10 text-5xl font-bold font">Categories</h1>
        <div class="grid md:grid-cols-4 uppercase text-white text-3xl font-medium px-4 md:p-10 gap-5">
            <div class="bg-[#F66262] grid text-center py-5 rounded-lg shadow-lg">medical</div>
            <div class="bg-[#22C397] grid text-center py-5 rounded-lg shadow-lg">education</div>
            <div class="bg-[#43B4F0] grid text-center py-5 rounded-lg shadow-lg">marriage</div>
            <div class="bg-[#E87B38] grid text-center py-5 rounded-lg shadow-lg">food</div>
        </div>
    </div>

    <div class="bg-[#efefef] pt-5">
        <h1 class="text-5xl font-bold grid text-center">Team Member</h1>
        <div class="grid md:grid-cols-3 p-5 gap-5">
            <div>
                <div class="p-5 md:p-10">
                    <img class="rounded-full shadow-lg p-1.5" src="assets/images/turab.jpg" alt="">
                </div>
                <div class="grid text-center md:-mt-5">
                    <h1 class="text-4xl font-bold">Abu Turab</h1>
                    <p class="text-3xl font-normal">Founder</p>
                </div>
            </div>
            <div>
                <div class="p-5 md:p-10">
                    <img class="rounded-full shadow-lg p-1.5" src="assets/images/faizan.png" alt="">
                </div>
                <div class="grid text-center md:-mt-5">
                    <h1 class="text-4xl font-bold">Faizan Mehdi</h1>
                    <p class="text-3xl font-normal">National President</p>
                </div>
            </div>
            <div>
                <div class="p-5 md:p-10">
                    <img class="rounded-full shadow-lg p-1.5" src="assets/images/rizvi.jpeg" alt="">
                </div>
                <div class="grid text-center md:-mt-5">
                    <h1 class="text-4xl font-bold">Mulana M. Abbas Rizvi</h1>
                    <p class="text-3xl font-normal">Manager</p>
                </div>
            </div>
            <div>
                <div class="p-5 md:p-10">
                    <img class="rounded-full shadow-lg p-1.5" src="assets/images/roli1.png" alt="">
                </div>
                <div class="grid text-center md:-mt-5">
                    <h1 class="text-4xl font-bold">Roli Kashyap</h1>
                    <p class="text-3xl font-normal">General Manager</p>
                </div>
            </div>
            <div>
                <div class="p-5 md:p-10">
                    <img class="rounded-full shadow-lg p-1.5" src="assets/images/neeraj.png" alt="">
                </div>
                <div class="grid text-center md:-mt-5">
                    <h1 class="text-4xl font-bold">Neeraj Gong</h1>
                    <p class="text-3xl font-normal">Spokesperson</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="bg-[#efefef]  py-5">
        <h1 class="uppercase pt-2 pb-5 flex justify-center text-5xl font-bold">Give Us a Hand</h1>
        <div class="grid md:grid-cols-2 gap-4 px-4 md:px-10">
            <div class="">
                <img class="rounded-lg shadow-lg w-full" src="assets/images/donation1.jpg" alt="">
            </div>
            <div class="bg-white text-[#98A2B3] py-5 px-3 grid justify-center shadow-lg rounded-lg">
                <p class="text-base md:text-xl font-medium">Donate to I.M.HOPE Foundation to give visually chanlenge a confidence in them for their future. Your small contribution will make a big difference in their lives.</p>
                <h1 class="text-base md:text-2xl font-semibold">Bank Account Details</h1>
                <div class="text-base font-medium">
                    <p>A/C Name: IMAM MEHDI HOPE EDUCATION</p>
                    <p>AND WELFARE SOCIETY</p>
                    <p>Bank: STATE BANK OF INDIA</p>
                    <p>Account: 00000041450742251</p>
                    <p>IFSC: SBIN0004546</p>
                    <p>Branch: JALALPUR, AMBEDKAR NAGAR, U.P</p>
                </div>
                <div class="mt-4">
                    <button
                        class="outline-none bg-green-500 shadow-lg rounded-lg px-10 py-3 text-white font-medium w-48">Donate</button>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>