<app-header></app-header>

<div>
    <div class="text-white grid justify-center py-2">
        <h1 class="bg-blue-900 px-5 py-2 rounded-lg text-lg font-semibold shadow-lg">About Organization</h1>

    </div>
    <div class="p-4">
        <p><span class="font-semibold">IMAM MEHDI HOPE EDUCATIONAL AND WELFARE SOCIETY</span> is a non-profit
            organization registered in 2022 under Societies Registration Act 1860, the organization is located
            in Jalalpur, Ambedkar Nagar, Uttar Pradesh, The organization's mission is to provide education, charity, and
            help to orphans and old
            age people in the Jalalpur area. The organization offers a variety of programs and services,
            including:
        </p>
        <div>
            <li>Free education to underprivileged children</li>
            <li> Scholarships for meritorious students</li>
            <li>Food and shelter for orphans and old age people</li>
            <li>Medical care for the poor and needy </li>
            <li>Vocational training for youth</li>
            <li>Community development programs </li>
        </div>

        <p>The primary objective of the society is to address social issues and uplift the
            underprivileged sections of society, with a strong commitment to charity and philanthropy, the
            organization focuses on providing assistance to the poor and marginalized, aiming to alleviate
            their hardships and improve their living conditions. </p>
        <p>One of the key areas of the society's work is providing education to children from
            disadvantaged backgrounds, recognizing the transformative power of education, they strive to
            create opportunities for these children to receive quality education, empowering them to break
            free from the cycle of poverty and build a better future.</p>
        <p>In addition to their efforts in charity and education, the NGO actively engages the
            community; they organize workshops, seminars, and awareness campaigns on various social
            issues, including health, sanitation, and women empowerment, by collaborating with local
            leaders, volunteers, and other stakeholders, they maximize their impact and strive for sustainable
            change in Ambedkar Nagar, Uttar Pradesh.
        </p>
    </div>
</div>
<app-footer></app-footer>